#top_bar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 130px;
  background-color: white;
  box-shadow: 0px 10px 20px 2px #e6e3e3;
  display: flex;
  flex-direction: row;
}

#title {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

#button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
}

a:link {
  text-decoration: none;
  color: rgb(223, 158, 44);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(223, 158, 44);
}

#first_group_tile {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 120px;
  padding-bottom: 75px;
}

#group_tile {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 75px;
  padding-bottom: 75px;
}

#food_group {
  align-self: center;
  font-size: 67.2px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(238, 183, 86);
  font-weight: 500;
  padding-top: 50px;
}

#item {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 67.2px;
}

#item_text {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

#item_cost {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

#spacer_line {
  flex: 1;
  border-bottom: 1px solid #000;
  margin-inline: 12px;
  margin-bottom: 8px;
}

#spacer {
  flex: 1;
}

#modifications {
  font-size: 23.8px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#time {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  margin-top: 250px;
}

#image {
  border-radius: 20px;
  aspect-ratio: 1.5;
  object-fit: cover;
}